{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    
    <h4>Order Summary</h4>
    <hr>
    {% if carts %}
    {% for cart in carts %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>{{cart.product.title}}</h5>
          <p>Quantity: {{cart.quantity}}</p>
          <p class="fw-bold">Price: {{cart.total_cost}}</p>
        </div>
      </div>
      {% endfor %}
      {% elif item %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>{{item.title}}</h5>
          <p>Quantity: 1</p>
          <p class="fw-bold">Price: {{item.discounted_price}}</p>
        </div>
      </div>
      {%endif%}
      <p class="fw-bold">Total Cost + Rs. 70  = {{total_amount|floatformat:2}}</p>
    <small>(Rs. 70 Delivery Charge)</small> <hr>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>


  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone">
      {% for ad in address reversed %}
      <div class="card">
        <div class="card-body">
          <h5>Name: {{ad.name}}</h5>
          <p>Mobile: {{ad.mobile_no}}</p>
          <p>State: {{ad.state}}</p>
          <p>City: {{ad.city}}</p>
          <p>Address: {{ad.locality}}</p>
          <p>Pin Code: {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name ="custid" value="{{ad.id}}" checked="checked">
          <label class="form-check-label fw-bold" for="">
            Address: {{forloop.counter}} </label>
        </div>
        {% endfor %}

        {% for ad in main_add  %}
        <div class="card">
          <div class="card-body">
            <h5>Name: {{ad.name}}</h5>
            <p>Mobile: {{ad.mobile_no}}</p>
            <p>State: {{ad.state}}</p>
            <p>City: {{ad.city}}</p>
            <p>Address: {{ad.locality}}</p>
            <p>Pin Code: {{ad.zipcode}}</p>
          </div>
        </div>
          <div class="form-check mt-2 mb-5">
            <input class="form-check-input" type="radio" name ="custid" value="{{ad.id}}" checked="checked">
            <label class="form-check-label fw-bold" for="">
              Main Address </label>
          </div>
          {% endfor %}
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}