{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="/" class="btn btn-primary">Go to Shopping</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 text-center">
     <h3>OOPS!! Cart is Empty</h3>
     <div><image src="{% static 'app/images/emptycart.png' %}"" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    
  </div>
 </div>
</div>
{% endblock main-content %}